{% extends "layout_before_signin.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}
    <img src="/static/My project.png" alt="ChattrBox Logo" class="login-img">
    <p>{{ message }}</p>
    <div class="container" id="apology">
    <!-- https://memegen.link/ -->
    <img alt="{{ top }}" class="border img-fluid" src="http://memegen.link/custom/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?alt=https://i.imgur.com/CsCgN7Ll.png&width=400" title="{{ top }}">
{% endblock %}
