{% extends "layout_after_signin.html" %}

{% block title %}
  Change Password
{% endblock %}

{% block main %}
  <h1>Change Password</h1>
  <div class="container" id="register">
      <form action="/changepassword" method="post">
          <div class="mb-3">
              <label for="password" class="form-label">Old Password</label>
              <input type="password" class="form-control shadow p-2 mb-3 bg-body-tertiary rounded" id="password" name="password" autofocus autocomplete="off">
          </div>
          <div class="mb-3">
            <label for="newpassword" class="form-label">New Password</label>
            <input type="password" class="form-control shadow p-2 mb-3 bg-body-tertiary rounded" id="newpassword" name="newpassword">
          </div>
          <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Confirm New Password</label>
              <input type="password" class="form-control shadow p-2 mb-3 bg-body-tertiary rounded" id="confirmation" name="confirmation">
            </div>
          <button type="submit" class="btn btn-primary" id="button1">Change Password</button>
        </form>
  </div>
{% endblock %}