{% extends "layout_after_signin.html" %}

{% block title %}
  Delete Account
{% endblock %}

{% block main %}
  <h1>Delete Account</h1>
  <div class="container" id="register">
      <form action="/deleteaccount" method="post">
          <div class="mb-3">
              <label for="password" class="form-label">Enter your password to complete this action.</label>
              <input type="password" class="form-control shadow p-2 mb-3 bg-body-tertiary rounded" id="password" name="password" autofocus autocomplete="off">
          </div>
          <p>Are you sure you want to delete your account? This cannot be undone!</p>
          <button type="submit" class="btn btn-primary">Yes</button>
      </form>
  </div>
{% endblock %}