{% extends "layout_after_signin.html" %}

{% block title %}
  GoodBye
{% endblock %}

{% block main %}
    <h1>Sorry to see you go :(</h1>
    <div class="container" id="welcome">
        <div class="bot-profile">
            <img src="/static/GoodbyeAvatar.jpeg" style="height: 100px; border-radius: 60px; margin-bottom: 20px;">
        </div>
        <h5 style="margin-bottom: 1px;">Are you sure you want to delete your account? This cannot be undone</h5>
        <form action="/goodbye" method="post">
            <button class="btn btn-danger" style="border-radius: 20px;">Yes, Delete My Account</button>
        </form>
    </div>
{% endblock %}