{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block body %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js" integrity="sha512-HTENHrkQ/P0NGDFd5nk6ibVtCkcM7jhr2c7GyvXp5O+4X6O5cQO9AhqFzM+MdeBivsX7Hoys2J7pp2wdgMpCvw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/static/My project.png" alt="ChattrBox Logo" width="auto" height="60">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Options
                </a>
                <ul class="dropdown-menu">
                <li><a class="dropdown-item" id="light-button" role="button">Light Mode</a></li>
                <li><a class="dropdown-item" id="dark-button" role="button">Dark Mode</a></li>
                <li><a class="dropdown-item" href="/changepassword">Change Password</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/logout">Log Out</a></li>
                </ul>
            </li>
            </ul>
        </div>
        </div>
    </nav>
    <script>
        // Get the current color mode from local storage
        var colorMode = localStorage.getItem("colorMode");

        // If the color mode is set, update the data-bs-theme attribute
        if (colorMode) {
        document.documentElement.setAttribute("data-bs-theme", colorMode);
        }

        // Add event listeners to the light and dark mode buttons
        document.querySelector("#light-button").addEventListener("click", function() {
        localStorage.setItem("colorMode", "light");
        document.documentElement.setAttribute("data-bs-theme", "light");
        });
        document.querySelector("#dark-button").addEventListener("click", function() {
        localStorage.setItem("colorMode", "dark");
        document.documentElement.setAttribute("data-bs-theme", "dark");
        });
    </script>
    {% block main %}{% endblock %}
{% endblock %}